/*input:invalid {
  border: 2px dashed red;
}*/

/*input:valid {
  border: 2px solid green;
}*/

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  border: 5px solid blue;
  padding: 5%;
}

span {
  color: red;
}

form span {
  display: none;
}
