// —————————————————————————————————————————————————————————————————————
// Component styles
// —————————————————————————————————————————————————————————————————————

// —————————————————————————————————————————————————————————————————————
// Span
// —————————————————————————————————————————————————————————————————————

span {
  color: white;
  background-color: $button-blue;
  text-align: center;
  position: relative;
  top: -11px;
  margin: auto;
  padding: 2px 0px;
  font-size: .9em;
  width: 94%;
  @media #{$medium-breakpoint} {
    width: 96%;
  }
}

// —————————————————————————————————————————————————————————————————————
// Form
// —————————————————————————————————————————————————————————————————————

// Hides validation helper text on load and accounts for height when displayed
form span {
  display: none;
  margin-bottom: -20px;
}

// Makes space below last input
form input:last-of-type{
  margin-bottom: 50px;
}

// Makes space below last  validation helper text span and accounts for height when displayed
form span:last-of-type{
  margin-top: -50px;
  margin-bottom: 30px;
}


// —————————————————————————————————————————————————————————————————————
// Input
// —————————————————————————————————————————————————————————————————————

input {
  height: 2.4em;
  background-color: $input-grey;
  margin: 3%;
  font-size: 1.1em;
  border: 1px solid $input-border-grey;
  border-radius: 7px;
  @media #{$medium-breakpoint} {
    margin: 2%;
  }
}

input:focus {
  border: 1px solid $input-border-blue;
  outline: 0;
}

input::placeholder{
  color: $placeholder-grey;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $placeholder-grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $placeholder-grey;
}

// —————————————————————————————————————————————————————————————————————
// Button
// —————————————————————————————————————————————————————————————————————

button {
  height: 4em;
  background-color: $button-blue;
  color: white;
  font-size: .9em;
  width: 100%;
  margin: auto;
  border-radius: 7px;
  border-width: 1px;
  outline: 0;
}
