form {
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 5px solid blue;
  padding: 5%;
}

span {
  color: red;
}

form span {
  display: none;
}

h1 {
  text-align: center;
}

input {
  height: 3.5em;
}

.body-container {
  margin: auto;
  width: 90%;
}

.screen-reader-text {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
