body {
  margin: 0;
  height: 100vh;
  background-color: $sea-foam-green;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5%;
}

span {
  color: white;
  background-color: $button-blue;
  text-align: center;
  position: relative;
  top: -18px;
  width: 94%;
  margin: auto;
  font-family: sans-serif;
  padding: 3px 0px;
  font-size: .9em;
}

form span {
  display: none;
}

form input:last-of-type{
  margin-bottom: 50px;
}

form span:last-of-type{
  margin-top: -37px;
}

button {
  height: 4.5em;
  background-color: $button-blue;
  color: white;
  font-size: .9em;
  width: 80%;
  margin: auto;
  border-radius: 4%;
  // background-color: honeydew;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.8em;
}

input {
  height: 2.4em;
  background-color: lightgrey;
  margin: 3%;
  font-size: 1.1em;
}

input::placeholder{
  color: black;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
}
:-ms-input-placeholder { /* IE 10+ */
  color: pink;
}


header {
  background-color: $sea-foam-green;
}

// input:invalid {
//   background-color: red;
// }

input:focus {
	background-color: $pale-blue;
  // border: 3px solid $button-blue;
  outline: 0;
}

.body-container {
  margin: auto;
  width: 90%;
  background-color: white;
  border: 2px solid lightgrey;
  box-shadow: 0 8px 10px -6px grey;

  @media #{$medium-breakpoint} {
    width: 50%;
  }
}

.screen-reader-text {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
