// —————————————————————————————————————————————————————————————————————
// Color variables
// —————————————————————————————————————————————————————————————————————

$button-blue        : rgb(70, 142, 233);
$input-grey         : rgb(250, 250, 250);
$placeholder-grey   : rgb(103, 103, 103);
$input-border-blue  : rgb(116, 170, 235);
$input-border-grey  : rgb(236, 236, 236);

// —————————————————————————————————————————————————————————————————————
// Media query breakpoints
// —————————————————————————————————————————————————————————————————————

$medium-breakpoint  : '(min-width: 600px)';
